@import java.time.OffsetDateTime
@import java.time.format.DateTimeFormatter

@(form: Form[ScheduleForm])(implicit messages: Messages)

@main("Add") {
    <div class="container">
        @for(error <- form.errors) {
            <p class="text-danger" id="" error>@Messages(error.message)</p>
        }
        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">@Messages("schedule.name")</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="beginAt">@Messages("schedule.beginAt")</label>
                <input class="form-control"
                type="date"
                value="@{
                    OffsetDateTime.now().format(DateTimeFormatter.ofPattern("yyyy-MM-dd"))
                }"
                id="beginAt"
                name="beginAt">
            </div>
            <div class="form-group">
                <label for="endAt">@Messages("schedule.endAt")</label>
                <input class="form-control"
                type="date"
                value="@{
                    OffsetDateTime.now().format(DateTimeFormatter.ofPattern("yyyy-MM-dd"))
                }"
                id="endAt"
                name="endAt">
            </div>
            <button type="submit" class="btn btn-primary">@Messages("add.send")</button>
        </form>
    </div>
}