@(form: Form[Schedule])(implicit messages: Messages)

<!doctype html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Add Schedule</title>
    </head>
    <body>
        <h1>@Messages("add.title")</h1>
        @for(error <- form.errors){
            <p class="text-danger" id="error">@Messages(error.message)</p>
        }
        <div class="container">
        <form method="POST" action="/add" width>

            <div class="form-group">
            <label for="title">@Messages("schedule.title") </label>
            <input type="text" class="form-control" id="title" name="title" size="10">
            </div>
            <div class="form-group">
            <label for="start">@Messages("schedule.start")</label>
            <input type="date" class="date-cell" id="start" name="start">
            </div>
            <div class="form-group">
            <label for="end">@Messages("schedule.end")</label>
            <input type="date" class="date-picker" id="end" name="end">
            </div>

            <button type="submit" class="btn btn-default">@Messages("add.send")</button>

        </form>
        </div>
    </body>
</html>
