@import java.time.format.DateTimeFormatter
@import java.text.SimpleDateFormat
@(schedules: Seq[Schedule])(implicit messages: Messages)

<!doctype html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Simple Scheduler</title>
    </head>
    <body>
        <h1>@Messages("list.title")</h1>
        <table class="table">
            <thead>
                <tr><th>@Messages("schedule.title")</th><th>@Messages("schedule.start")</th><th>@Messages("schedule.end")</th></tr>
            </thead>
            <tbody>
            @for(sch <- schedules.reverse){
                <tr>
                    <td class="schedule-title">@sch.title</td>
                    <td class="schedule-start-date">@{
                        val formatter = new SimpleDateFormat(Messages("scheduler.dateFormat"), messages.lang.toLocale)
                        formatter.format(sch.start)
                    }</td>
                    <td class="schedule-end-date">@{
                        val formatter = new SimpleDateFormat(Messages("scheduler.dateFormat"), messages.lang.toLocale)
                        formatter.format(sch.end)
                    }</td>
                </tr>
            }
            </tbody>
        </table>
    </body>
</html>
